<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>SHREYA BARANWAL</h1>
    <title>Flask App - CI/CD Showcase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>shreya baranwal</h1>
        <h1>🚀 Flask App -BUILD BY SHREYA QUEEEN  CI/CD Pipeline Showcase</h1>
        <p>Explore the power of automation with Jenkins & AWS ECS!</p>

        <a href="/api" class="btn" target="_blank">Check API Status</a>

        <p><h1>SHREYA BUILD THIS HEHEHE</h1>🌟 </p>

        <a href="https://github.com/Kunalkthalautiya/Project-1-Automated-CI-CD-Pipeline-AWS-ECS.git" class="btn" target="_blank">View on GitHub →</a>

        <footer>
            Connect with me on <a href="https://www.linkedin.com/in/kunal-thalautiya-238a17242/" target="_blank">LinkedIn</a>..
        </footer>
    </div>
</body>
</html>
